@import '../styles/global.scss';

#About {
  @include page;
  max-width: 800px;
  strong {
    font-weight: 900;
  }
  @media (max-width: $mobile) {
    padding-top: 64px !important;
    h2 {
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      margin: 8px 0;
    }
  }
}
