@import '../styles/global.scss';

#Splash {
  @include page;
  animation-delay: 0.4s;
  @include flex-center;
  img {
    height: 48vh;
    @media (max-width: $mobile) {
      height: 36vh;
    }
  }
  h2 {
    margin: 0;
    font-size: 32px;
    width: 100%;
    text-align: center;
  }
  #Arrow {
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
    * {
      transition: border-color 0.2s ease;
    }
    &:hover {
      div {
        border-color: var(--blue);
      }
    }
    > div {
      position: relative;
      width: 60px;
      height: 60px;
      border: 1px solid var(--text);
      border-radius: 50%;
      box-sizing: content-box;
      div {
        position: absolute;
        bottom: 24px;
        width: 20px;
        height: 20px;
        border-top: 1px solid var(--text);
        border-right: 1px solid var(--text);
        right: 20px;
        box-sizing: content-box;
        transform: rotate(135deg);
        box-sizing: content-box;
      }
    }
  }
}
